<div class="container">
  <h1>Welcome to bitly copycat!</h1>
  <h2>Type in your URL</h2>

  <form action="/urls" method="post">
    <label for="original_link">Feed me your link!</label>
      <input type="text" name="original_link"> <br>
    <input type="submit" value="Give me my link!">
  </form> 
  
  

</div>
