This page renders the shortened Url! 

<p> Here is your shortened link! <a href= <%=@new_url_set.shortened_link%> %> http://short.ly/<%= @shortened_link %></a></p>

<p> Take me <a href='/'>home!</a></p>
